* {
    margin: 0;
    padding: 0;
    font-family: Tahoma;
    color: #000000;
}

div {
    text-align: center;
    border-top: 1px solid #d5d5d5;
    padding: 50px;
    background-color: #f5f5f5;
}

img {
    width: 190px;
    margin-top: 15px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
    margin-top: 15px;
}

p {
    font-size: 16px;
    width: 930px;
    margin: 15px auto 30px auto;
}

a {
    font-size: 14px;
    text-decoration: none;
    background-color: #49B970;
    color: #f5f5f5;
    border-radius: 25px;
    padding: 10px 30px;
}

h3 {
    font-size: 18px;
}

span {
    font-weight: bold;
}

